.result-item {
  width: 30vw;
  margin: 5rem 0 5rem 12rem;
  cursor: pointer;

  .source-url {
    font-size: 0.75rem;
  }

  .result-title {
    font-size: 1.5rem;
    color: #4684ee;
    margin: 5px 0;
    cursor: pointer;
  }

  .result-description {
    color: #434343;
  }
}
