.navbar {
  .navbar-item {
    .nav-link {
      text-decoration: none;
      color: #434343;

      :hover {
        text-decoration: underline;
      }

      span {
        padding: 5px;
      }
    }
  }
}
