.search-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: auto;

  .input-wrapper {
    align-items: center;
    border: 1px solid #d4d4d4;
    border-radius: 5rem;
    display: flex;
    height: 2rem;
    margin: 2rem 0;
    padding: 5px;

    &:hover {
      border: none;
      box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
    }
    .fa {
      color: #a1a1a1;
      cursor: pointer;
      padding: 0 10px;
    }

    .search-query {
      color: #0f0f0f;
      font-size: 14px;
      width: 30vw;
      height: 1.5rem;
      padding: 5px;
      border: none;
      outline: none;

      &:focus {
        border: none;
      }
    }
  }

  .btn-wrapper {
    align-self: center;

    .form-btn {
      background-color: #f6f6f6;
      border: none;
      border-radius: 4px;
      color: #9a9a9a;
      cursor: pointer;
      font-weight: 500;
      height: 2rem;
      margin: 5px;
      text-align: center;
      width: 8rem;

      &:hover {
        border: 1px solid #8f8f8f;
        color: #0f0f0f;
      }
    }
  }
}
